entrypoint = "main.py"
modules = ["python-3.11", "nodejs-20", "python3", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["bash", "ffmpeg", "ffmpeg-full", "freetype", "glibcLocales", "gmp", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "poppler_utils", "tcl", "tesseract", "tk", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "5000"]
deploymentTarget = "gce"

[agent]
expertMode = true
integrations = ["google-drive:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33547
externalPort = 6000

[[ports]]
localPort = 33685
externalPort = 6800

[[ports]]
localPort = 36279
externalPort = 8081

[[ports]]
localPort = 36449
externalPort = 4200

[[ports]]
localPort = 38275
externalPort = 8080

[[ports]]
localPort = 39395
externalPort = 8000

[[ports]]
localPort = 40103
externalPort = 3000

[[ports]]
localPort = 43057
externalPort = 3002

[[ports]]
localPort = 43227
externalPort = 5173

[[ports]]
localPort = 43611
externalPort = 5000

[[ports]]
localPort = 43677
externalPort = 8008

[[ports]]
localPort = 43895
externalPort = 3003

[[ports]]
localPort = 46149
externalPort = 3001
