fastapi
uvicorn
PyPDF2
langchain
openai
pinecone-client
python-multipart
pinecone
pydantic
httpx
reportlab
yt-dlp
pydub
psycopg2-binary
pytz
youtube-transcript-api
pdf2image
pillow
pytesseract
requests
pycryptodome
