fastapi
uvicorn
PyPDF2
langchain
openai
pinecone-client
python-multipart
pinecone
pydantic
httpx
reportlab
yt-dlp
pydub
psycopg2-binary
pytz
pdf2image
pillow
pytesseract
requests
pycryptodome
youtube-transcript-api
anthropic
gunicorn
python-dotenv
fastapi-csrf-protect
jinja2
pydantic-settings
